body{
    color: rgb(255, 255, 255);
   background-color: rgb(46, 9, 94);
   font-family: 'Geostar', cursive;

}

h1{
    margin: 15px;
    border: solid 4px;
    border-color: darkgreen;
    padding: 20px;
}


#name{
    font: bold 30px times  ; 
    color: lightblue;
}